html {
	margin: 0;
	padding: 0;
	font-size: 16px;
}
body {
	margin: 0;
	color: #fff;
	letter-spacing: 0.21px;
  	font-family: $font-default, -apple-system, BlinkMacSystemFont, sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
* {
	box-sizing: border-box;
}
p {
	width: 100%;
	max-width: 1000px;
	padding: 0 1.5rem;
	font-size: 1.15rem;
	line-height: 1.6;
}

.App {
	background-color: #282c34;
}

