
#signup-form {
    width: 100%;
    max-width: 700px;
    margin: 2rem auto;
    padding: 2.0rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.6);

    &.form-completed {
        form {
            display: none;
        }
        .form-post-message {
            display: block;
        }
    }


    // Hidden by default. Show on form complete (see "completed" -class above)
    .form-post-message {
        display: none;
        width: 100%;
        max-width: 1000px;

        h2, p {
            text-align: center;
        }

        hr {
            width: 80px;
            opacity: 0.5;
        }

        table {
            width: 100%;

            td {
                width: 50%;
                padding: 0.4rem 0;

                &.tr-name {
                    font-weight: 700;
                    text-align: right;
                    padding-right: 0.5rem;
                    vertical-align: top;
                }
                &.tr-value {
                    text-align: left;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}



form {
    width: 100%;
}

  
.form-group {
    position: relative;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;

    // .form-help {
    //     position: absolute;
    //     width: 100%;
    // }


    // Input text color
    select,
    input:focus,
    //input:valid,
    input.form-file,
    input.has-value,
    textarea:focus,
    //textarea:valid,
    textarea.form-file,
    textarea.has-value {
        color: #fff;

        ~ .control-label {
            font-size: 0.8rem;
            top: -1.1rem;
            left: 0;
        }
    }

    select, input, textarea {
        &:focus {
            outline: none;

            // ~ .control-label {
            //     color: $c_blue;
            // }
            ~ .focus-bar::before {
                width: 100%;
                left: 0;
            }
        }
    }




    input {
        height: 2.5rem;
    }
    textarea {
        height: 4.2rem;
        resize: none;
    }
    input,
    textarea {
        display: block;
        background: transparent;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid $c_grey_light;
        line-height: 1.45;
        width: 100%;
        color: transparent;
        transition: all 0.2s ease;
        box-shadow: none;
    }
    select {
        width: 100%;
        font-size: 1rem;
        height: 2.5rem;
        padding: 0.5rem;
        background: none;
        border: none;
        line-height: 1.6;
        box-shadow: none;
        border-bottom: 1px solid $c_grey_light;
        appearance: none;
        background-size: 10px;
        background-position: 98% 50%;
        background-repeat: no-repeat;
        background-image: url(../assets/images/icon-arrow-down.svg);
    }



    .control-label {
        position: absolute;
        top: 0.6rem;
        pointer-events: none;
        padding-left: 0.5rem;
        z-index: 1;
        color: #b3b3b3;
        font-size: 1rem;
        font-weight: bold;
        transition: all 0.2s ease;
    }

    .focus-bar {
        position: relative;
        border-bottom: 1px solid transparent;
        display: block;

        &::before {
            content: '';
            height: 0.125rem;
            width: 0;
            left: 50%;
            bottom: -0.0625rem;
            position: absolute;
            background: $c_purple;
            transition: left 0.2s ease, width 0.2s ease;
            z-index: 2;
        }
    }



    .checkbox {

        input {
            width: auto;
            height: auto;
            display: inline-block;
        }

        .checkbox-info {
            padding: 1px;
            margin-left: 10px;
            cursor: pointer;
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            
            img {
                width: 17px;
                height: auto;
                display: block;
            }

            &:hover {
                .info-content {
                    display: inline-block;
                }
            }

            .info-content {
                top: -5px;
                left: 40px;
                width: 300px;
                z-index: 50;
                color: #fff;
                line-height: 1.4;
                font-size: 0.9rem;
                display: none;
                position: absolute;
                padding: 0.5rem 1rem;
                pointer-events: none;
                user-select: none;
                background-color: $c_grey_main;

                &:after {
                    content: '';
                    width: 13px;
                    height: 15px;
                    left: -10px;
                    top: 7px;           
                    position: absolute;
                    background-color: $c_grey_main;
                    clip-path: polygon(0 50%, 100% 100%, 100% 0);
                }

                @include xs {
                    top: 40px;
                    left: -120px;
                    width: 75vw;
                    max-width: 280px;

                    &:after {
                        content: '';
                        width: 13px;
                        height: 15px;
                        left: 122px;
                        top: -12px;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }



    // Error styling
    &.has-error {

        // .legend.legend,
        // &.form-group .control-label.control-label,
        // &.form-group .form-help,
        // &.form-group .helper,
        // &.checkbox .form-help,
        // &.checkbox .helper,
        // &.radio .form-help,
        // &.radio .helper,
        // &.form-radio .form-help,
        // &.form-radio .helper {
        //     color: $c_red;
        // }

        .focus-bar::before {
            background: $c_red;
            left: 0;
            width: 100%;
        }
    }
    .error-message-area {
        span {
            margin: 0;
            padding-left: 0.4rem;
            margin-top: 0.25rem;
            color: $c_red;
            font-size: 0.8rem;
        }
    }
}
  











.submit-button {
    position: relative;
    background: $c_purple;
    border: 1px solid $c_purple;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    color: #fff;
    margin: 1.5rem 0;
    padding: 0.75rem 3rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    overflow: hidden;

    &:hover,
    &:focus {
        outline: 0;
        background: $c_purple_dark;
        border-color: $c_purple_dark;
    }
}

