
// Disable scrolling when mobile nav menu is open
html.nav-open {
	overflow: hidden;
}


.site-header {
	z-index: 200;
	width: 100%;
	height: auto;
	position: absolute;
	// background-color: rgba(0, 0, 0, 0.3);

	.header-content {
		width: 100%;
		height: calc(75px + 1vw);
		display: flex;
		position: relative;
		padding: 0 calc(1.5rem + 0.5vw);
		align-items: center;
		justify-content: space-between;

		// Unvisible, kept for SEO purposes
		h1 {
			clip: rect(0 0 0 0);
			clip-path: inset(100%);
			height: 1px;
			width: 1px;
			overflow: hidden;
			position: absolute;
			white-space: nowrap;
		}

		#dq-logo {
			z-index: 500;
			transition: 0.15s;

			img {
				width: 60px;
				height: 60px;
				display: block;

				@include sm {
					width: 45px;
					height: 45px;
				}
			}

			&:hover {
				opacity: 0.7;
			}
		}

		nav {

			a {
				color: #fff;
				font-weight: bold;
				font-size: 1.3vmax;
				text-decoration: none;
				transition: 0.15s;

				&:after {
					content: '';
					top: 0.2rem;
					display: block;
					position: relative;
					width: 0%;
					height: 2px;
					transition: 0.2s;
					background-color: #fff;
				}

				&.active {
					&:after {
						width: 2.2rem;
					}
				}
				&:hover {
					&:after {
						width: 2.2rem;
					}
				}

				@include xl {
					font-size: 1.0rem;
				}
			}

			ul {
				display: flex;
				list-style: none;
				flex-direction: row;

				li {
					margin: 0;
					margin-left: 1.8rem;

					&:first-child {
						margin-left: 0;
					}
				}
			}

			// Nav open/close hidden on desktop
			#nav-open,
			#nav-close {
				display: none;
			}
			// Calendar link hidden on desktop
			li.nav-calendar-link {
				display: none;
			}
			






			// MOBILE VIEW
			&.mobile-view {
				z-index: 400;
				overflow: hidden;

				#nav-wrapper {
					top: 0;
					right: 0;
					transform: translateX(100vw);
					width: 100%;
					height: 100vh;
					z-index: 400;
					display: flex;
					text-align: center;
					position: fixed;
					align-items: center;
					justify-content: center;
					visibility: hidden;
					background-color: $c_purple;
					transition: 0;

					&.active {
						transform: translateX(0);
						visibility: visible;
						transition: transform 0.25s;

						ul {
							li {
								opacity: 1;
								transition: 0.3s;
								transform: translateX(0px);

								&:nth-child(1) {
									transition-delay: 0.16s;
								}
								&:nth-child(2) {
									transition-delay: 0.20s;
								}
								&:nth-child(3) {
									transition-delay: 0.24s;
								}
								&:nth-child(4) {
									transition-delay: 0.28s;
								}
							}
							
						}
					}
				}

				a {
					display: block;
					font-size: 1.6rem;

					&:after {
						top: 0.4rem;
						margin: 0 auto;
					}
				}

				#nav-open {
					width: 33px;
					height: 30px;
					z-index: 300;
					color: #fff;
					display: block;
					border: 0;
					position: relative;
					background-color: transparent;
					background-size: cover;
					background-repeat: no-repeat;
					background-image: url(../assets/images/icon-menu.svg);
				}
				#nav-close {
					top: 25px;
					right: 28px;
					width: 30px;
					height: 30px;
					z-index: 500;
					color: #fff;
					display: block;
					border: 0;
					position: absolute;
					background-color: transparent;
					background-size: cover;
					background-repeat: no-repeat;
					background-image: url(../assets/images/icon-close.svg);
				}

				// Calendar link hidden on desktop
				li.nav-calendar-link {
					display: block;

					a {
						font-size: 1.4rem;
						padding: 0.4em 0.8em;
						color: $c_purple;
						background-color: #fff;
						box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
					}
				}

				ul {
					padding: 0;
					flex-direction: column;

					li {
						margin: 0.8rem 0;
						transition: 0s;
						transform: translateX(40px);
						opacity: 0;
					}
				}
			} // Mobile-view


		}
	}
}
