.main-content {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
    position: relative;
	flex-direction: column;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	> * {
		margin-left: auto;
		margin-right: auto;
	}
	

    // Home page content
	&#main-content-home {
        overflow: hidden;
		text-align: center;
		background-image: url(../assets/images/bg-home.jpg);

        @include xs {
            background-image: url(../assets/images/bg-home-mobile.jpg);
        }

        // Swap the two background images with crossfade animation
        .home-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../assets/images/bg-home2.png);
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-name: home_bg_anim;
            animation-duration: 6s;

            @include xs {
                background-image: url(../assets/images/bg-home2-mobile.png);
            }

            @keyframes home_bg_anim {
                  0% { opacity: 0; }
                 25% { opacity: 0; }
                 75% { opacity: 1; }
                100% { opacity: 1; }
            }
        }

        .marquee-bg {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            pointer-events: none;
            user-select: none;
            
            .marquee-row {
                width: 100%;
                height: 23vh;
                margin-bottom: 3.4vh;
                position: relative;
                background-size: cover;
                background-repeat: repeat-x;
                // background-position: center;
                background-position: 0 0;
                animation-fill-mode: forwards;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-name: marquee_anim;

                &:last-child {
                    margin-bottom: 0;
                }
                
                @keyframes marquee_anim {
                      0% { background-position: 0 0; }
                    100% { background-position: 363.5vh 0 }
                }

                &:nth-child(1) {
                    animation-duration: 28s;
                    animation-direction: normal;
                    background-image: url(../assets/images/bg-marquee-row.svg);
                }
                &:nth-child(2) {
                    animation-duration: 25s;
                    animation-direction: reverse;
                    background-image: url(../assets/images/bg-marquee-row.svg);
                }
                &:nth-child(3) {
                    animation-duration: 22s;
                    animation-direction: normal;
                    background-image: url(../assets/images/bg-marquee-row.svg);
                }
                &:nth-child(4) {
                    animation-duration: 32s;
                    animation-direction: reverse;
                    background-image: url(../assets/images/bg-marquee-row.svg);
                }
            }
        }

		.event-date {
            z-index: 100;
            margin-top: calc(2rem + 3.0vw);

            time {
                width: 100%;
                display: block;
                line-height: 1;
                font-size: 8.5vmax;
                font-weight: bold;
                margin-bottom: 2rem;
                margin-left: 0.1em;
            }
            a {
                color: $c_purple;
                display: inline-block;
                position: relative;
                transition: 0.2s;
                padding: 0.6em 1.2em;
                font-size: 1.4vmax;
                font-weight: bold;
                text-decoration: none;
                background-color: #fff;

                @include lg {
                    font-size: 1.2rem;
                }

                &:hover {
                    transform: scale(1.10);
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
                }
            }
		}

        #logo-25years {
            width: calc(5rem + 2.5vw);
            bottom: 1rem;
            right: 1rem;
            display: block;
            position: absolute;
        }
	}



    // 25 Years of Drama page content
	&#main-content-history {
        padding-top: 10rem;
		background-image: url(../assets/images/bg-info.jpeg);
	}


    // Artits page content
	&#main-content-pyhimys {
		text-align: center;
		background-image: url(../assets/images/bg-artists.jpeg);

        /*.marquee-thing {
            height: 100%;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            display: flex;
            position: absolute;
              
            .marquee-row {
                height: 23vh;
                margin-bottom: 3.4vh;
                position: relative;
                border: 1px solid red;

                .marquee-element {
                    height: 100%;
                    display: flex;
                    list-style: none;
                    padding-left: 0;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;

                    &.marquee-element-1 {
                        animation-name: marquee_one;
                    }
                    &.marquee-element-2 {
                        animation-name: marquee_two;
                        position: absolute;
                        top: 0;
                        left: 100%;
                    }
    
                    img {
                        width: auto;
                        height: 100%;
                        display: block;
                    }

                    @keyframes marquee_one {
                        0% { transform: translateX(0%); }
                      100% { transform: translateX(-100%); }
                    }
                        
                    @keyframes marquee_two {
                          0% { transform: translateX(0%); }
                        100% { transform: translateX(-100%); }
                    }
                }

            }
        }*/
	}


    // Info page content
	&#main-content-telakka {
        padding-top: 10rem;
		background-image: url(../assets/images/bg-info.jpeg);
	}
}