
// DEFAULT
@font-face {
	font-display: swap;
	font-weight: normal;
  	font-family: "AlteHaas";
  	src: url('../assets/fonts/AlteHaasGroteskRegular.ttf') format('truetype');
}
@font-face {
	font-display: swap;
	font-weight: bold;
  	font-family: "AlteHaas";
  	src: url('../assets/fonts/AlteHaasGroteskBold.ttf') format('truetype');
}