
// COLORS
$c_blk_main: #222931;
$c_grey_main: #65696e;
$c_grey_light: #91959b;
$c_red: #ff5c5f;
$c_blue: #4f93ce;
$c_blue_dark: #3b7ab1;
$c_purple: #486BFF;
$c_purple_dark: #3959eb;


// FONT-FAMILIES
$font-default: "AlteHaas", sans-serif;


/*--- MEDIA QUERIES ---*/
// Usage example for this: @include xs {}

$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-lg-max: 991px;
$screen-xl-max: 1200px;
$screen-xxl-max: 1920px;


// Small devices
@mixin xs {
    @media (max-width: #{$screen-xs-max}) {
        @content;
    }
}
 
// Medium devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}
 
// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}
 
// Extra large devices
@mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}

// +1080p devices
@mixin xxl {
    @media (max-width: #{$screen-xxl-max}) {
        @content;
    }
}
